
.text-style{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  /* ? Büyüklük */
font-size:20px 
font-weight:bolder;
background-color: coral;
border: px solid;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /** Kalınlık */
  font-weight: 400px;
  background-color: rgb(159, 166, 153);
}
span{
  color: blue;
}
.decoration{
  text-decoration: overline crimson;
}
.transformation{
  text-transform:lowercase ;
  color: rgb(0, 60, 255);
}
.spacing{
  color:rgb(199, 55, 11);
  letter-spacing:1px ;
  word: spacing 2px; ;
  line-height: 1.8;
}
.indent{
  nav-index:30px;
  text-indent: 30px;
}
.text-shadow{
  text-shadow:15px 10px 5px rgba(26, 26, 21, 0.819) ;
}
.box-shadow{
  box-shadow: 5px 5px 4px crimson ;
  background-color: bisque;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}