*{
  margin: 0;
  padding: 0;
  text-align: center;
}

.box{
  width:10rem ;
  height: 10rem;
  font-size: 2rem;

}
.static{
background-color: burlywood;
position: relative;
z-index: 2;
}
.relative-1{
  background-color: chartreuse;
  position: relative;
  top:0rem ;
  left: 10rem;
  bottom: ;
  right: ;
  z-index:4 ;
}
.relative-2{
  background-color: coral;
  position: relative;
  left: 15rem;
  top: -5rem;
  z-index: 5;
}
.relative-3{
  background-color: darkgreen;
  width: 5rem;
  height: 5rem;
  font-size: 1rem;
  position: relative;
  left: 2.5rem;
}
.absolute{
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: cyan;
  font-size: 0.8rem;
}
.top-left{
  top: 0;
  left: 0;
}
.top-right{
  top: 0;
  right: 0;
}
.bottom-left{
  bottom: 0;
  left: 0;
}
.bottom-right{
  bottom: 0;
  right: 0;
  font-size: 1rem;
}