*{
  box-sizing: border-box;
  margin: 0.5rem;

}
.box p{
  color: red;
}
 .box h1{
  color: blue;
}
.box > h1{
  color: chartreuse;
}
.box + h1{
  color: rgb(42, 71, 165);
}
.box ~ p{
  color: chocolate;
}

 #outline {
  color: brown;
  width: 10rem;
  height: 10rem;
  border: 0.5rem solid darkgreen;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#outline:hover{
  outline: 2px solid rgb(56, 53, 45);
  outline-offset: 0.4rem;
}